
nav {
    width: 100%;

}


nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    border-left: 0px;
}


body {
    margin: 0;
}
footer {
    font-family: 'Poiret One', cursive;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: crimson; }

nav ul li {
    justify-content: center;
    width: 30%;
    display: flex;
    font-family: 'Dosis', sans-serif;


}

nav ul li a {
    align-items: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:first-of-type {
    background-color: white;
    border: 3px solid crimson;


}


.pinknav:hover:not(.active) {
    background-color: #F16A85;
    color: white;
}
nav li:hover:not(.active) {
    background-color: #F16A85;
    color: white;
}

#homenav:hover:not(.active) {
    color: white;
}

.home a {
    color: crimson;
}

li {
    list-style-type: none;
}




body h1 {
        text-align: center;
        font-family: 'Poiret One', cursive;
}



.flex-parent:hover .main-img {
    opacity: 0.6;
}

.flex-container {
    width: 95%;
    margin: 1em;

}
.flex-container img {
    max-width: 100%;
}


#leftbanner {
    visibility: visible;
    height: auto;
    width:auto;
}


#leftbanner {
    width: 100%;
    height: auto;
}





.scroller {
    max-width: 2500px;
    margin: auto;
}

footer {
    margin: 20px;
}

p, dt, dd {
    font-family: 'Amiri', serif;
}

dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 400px;
    margin-top: 2em;
}

dt, dd {
    width: 45%;
}
dd {
    margin: 0;
}
main {
margin-right: 1em;
}



@media screen and (min-width: 450px) {



    nav ul {
        display: flex;
        flex-flow: row;
    }


    .flex-container {
        justify-content: space-around;
    }
   nav ul li {
        display: flex;
        justify-content: center
    }

    main{
        max-width: 1200px;
        margin: auto;
    }


    main img {
        display: block;
        margin: auto;
    }

}


