* {
    box-sizing: border-box;
}
article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
}
body {
    align-items: center;
    margin: 0;
    padding: inherit;
    background-color: salmon;
}
/* Page flow - Horizontal
Local Weather to the right
Franklin, ID to Middle - colored box behind
Box around temp & high/low
Img background to back
Smooth box around
    Current Conditions
    Wind: 1-5 MPH
            Southwest
    Precipitation: 0 in
Colored box - behind Copyright & link to Home
Add space on bottom so Nav isn't hidden
Nav bar - centered*/

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
ul li{
    list-style-type: none;
}


nav ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction : row;
    align-items: center;
    bottom: 0px;
    position: fixed;
}



.title h1 + h1 {
    text-align: right;
    margin-top: -7em;
}
}

footer {
    padding-bottom: 10px;
}

.currentconition {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hourly-forecast {
    visibility: hidden;
}
.container {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    margin: auto;
}

.overview h2{
    display: flex;
    padding-left: 2em;
}



